<tr>
    <td><%=result[:id]%></td>
    <td><%=image_tag result[:avatar], size: "40x40"%></td>
    <td><%=result[:last_name]%></td>
    <td><%=result[:first_name]%></td>
    <td><%=result[:email]%></td>
    <td><button>Save</button></td>
</tr>
